<!DOCTYPE html>
<html>
<head>
  <title>BootstrapWebsite</title>
  <%= stylesheet_link_tag    "bootstrap_website/application", :media => "all" %>
  <%= javascript_include_tag "bootstrap_website/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
